* {
    font-family: 'Cascadia Code', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

p, a {
    font-weight: lighter;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding-left: 20%;
    padding-right: 20%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 32px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

a {
    font-size: 18px;
    color: #f9faf8;
    text-decoration: none;
}

.links {
    display: flex;
    gap: 48px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.intro {
    display: flex;
    gap: 64px;
    color: #f9faf8;
    padding: 64px;
    background-color: #1f2937;
    padding-left: 20%;
    padding-right: 20%;
}

.main {
    font-size: 48px;
    margin: 0;
    padding: 0;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 50%;
}

button {
    align-self: flex-start;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    color: #f9faf8;
    padding: 10px 20px;
}

.info {
    display: flex;
    flex-direction: column;
    color: #1f2937;
    align-items: center;
    gap: 64px;
    padding-left: 20%;
    padding-right: 20%;
}

.container {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.information {
    font-size: 36px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

img {
    border: #3882f6 solid 4px;
    border-radius: 16px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 64px;
    padding-left: 20%;
    padding-right: 20%;

}

.quote > p {
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
    margin: 0;
    padding: 0;
}

.quote > h2 {
    align-self: flex-end;
}

.signup {
    display: flex;
    justify-content: center;
    padding-bottom: 64px;
    padding-left: 20%;
    padding-right: 20%;
}

.signup > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    width: 100%;
    padding: 32px 64px;
}

.signup div {
    display: flex;
}

.signup h2 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.signup p {
    margin: 0;
    padding: 0;
}

.signup button {
    border: white solid 2px;
}

.invite {
    display: flex;
    flex-direction: column;
}